<div class="bookcard">
    <img src="https://covers.openlibrary.org/b/isbn/0385472579-L.jpg">
    <div class="bookcard_content">
        <div>
            <time class="bookcard_content_date">1996</time>
            <h5 class="bookcard_content_title">Great Book of Gaza</h5>
            <p class="bookcard_content_author">Patrick Saint, George Royal</p>
        </div>
       
        <div class="bookcard_content_actions">
            <a>wish-list</a>
            <a>more</a>
        </div>
    </div>
</div>