.bookcard {
  display: grid;
  grid-template-columns: 180px auto;
  background-color: var(--background-light-color);
  transition: all ease-in-out .3s;
  height: 240px;
  cursor: pointer;
  &:hover{
    box-shadow: 0px 10px 14px -8px rgba(0,0,0,0.58);
    transform: translateY(-5px);
    img{
    filter: unset;
    }
  }

  img {
    transition: all ease-in-out .5s;
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: center;
    filter: saturate(0) sepia(1);
  }

  &_content {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

    &_date {
      font-size: 12px;
      margin-top: 0px;
      margin-bottom: 5px;
    }

    &_title {
      font-size: 16px;
      color: var(--text-dark-color);
      margin-top: 0px;
      margin-bottom: 10px;
    }

    &_author {
      font-size: 14px;
    }

    &_actions{
        display: flex;
        gap: 20px;
        a{
            color: var(--text-color);
            font-weight: 700;
            position: relative;
            font-size: 12px;
            &:not(:last-of-type)::after{
                right: -10px;
                top: 0;
                content: '';
                display: block;
                position: absolute;
                width: 2px;
                height: 14px;
                background-color: var(--text-color);
            }
        }

        
    }
  }
}
